{% extends "base.html" %}



{% block page_content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Libdb.sh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Python</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Node</a>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>


    <div class="container mt-5">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nisi ipsum, euismod vitae augue sit amet,
            varius
            pulvinar velit. Quisque interdum elementum leo quis vehicula. Nulla dignissim odio id nisi posuere
            vulputate.
            Nulla vel mauris non ipsum vestibulum pretium quis id augue. Morbi vitae rhoncus est. Nulla tempus nulla
            lectus,
            at vulputate ipsum tristique quis. Quisque placerat vitae metus id scelerisque. Suspendisse eget lorem
            libero.
            Nam varius consequat mi ut imperdiet. Suspendisse potenti. Aenean accumsan blandit nibh id elementum. Duis
            nibh
            quam, tincidunt vitae vestibulum eget, pulvinar in turpis. Quisque vitae erat vestibulum, mattis augue ac,
            semper lorem. Nam elementum, ligula ut venenatis auctor, tortor arcu convallis nisl, at viverra mi orci
            tristique purus. Quisque tristique, lorem a euismod volutpat, urna ligula mattis justo, et euismod erat arcu
            sagittis leo.
        </p>
        <p>
            Nullam convallis accumsan velit et tempor. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Ut dapibus massa dui, in aliquam ipsum consequat ac. Aenean congue varius tellus non
            eleifend. Curabitur congue mi et sem vehicula luctus. Maecenas dictum, dui eget pretium ornare, nisl magna
            efficitur tellus, eget lacinia mi lacus eget leo. Aenean ut arcu in enim tincidunt ultrices. Nunc cursus,
            lorem
            a efficitur dictum, nunc nisl ullamcorper libero, vel mattis nisi dolor at lectus. Vivamus non auctor velit.
            Maecenas suscipit nulla quis gravida lobortis. Integer in euismod dui. Interdum et malesuada fames ac ante
            ipsum
            primis in faucibus. Nullam ut nisi vulputate nulla tempor sodales. Sed rutrum risus nec erat condimentum
            vulputate.
        </p>
        <p>
            Pellentesque commodo sapien in enim feugiat, non ultricies sapien porta. Donec nunc purus, posuere aliquam
            lorem
            in, pulvinar commodo augue. Fusce lectus nulla, tincidunt non scelerisque vitae, fringilla vel arcu.
            Phasellus
            quis malesuada turpis. Aenean et bibendum dolor. Sed at magna nisl. Vestibulum maximus sollicitudin odio,
            vel
            venenatis lectus finibus non. Donec vel tempus leo. Vestibulum risus ligula, ultricies vitae turpis non,
            suscipit aliquam metus. Etiam erat lorem, condimentum in volutpat ut, egestas in elit. Sed nec molestie
            augue,
            sed mollis dolor. Etiam efficitur laoreet tristique.
        </p>
    </div>


{% endblock %}
