{% extends "base.html" %}

{% block page_content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-5 text-center">
                <div class="">
                    <img src="{{ url_for('static',filename='images/logos/python.svg') }}" width="300px" height="300px"
                         alt="python logo">
                    <h2 class="mt-3">PYTHON</h2>
                    <a href="/python" class="btn stretched-link">Check out your requirements.txt file</a>
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-5 text-center">
                <div class="">
                    <img src="{{ url_for('static',filename='images/logos/nodejs.svg') }}" width="300px"
                         height="300px" alt="node logo">
                    <h2 class="mt-3">NODE</h2>
                    <a href="/node" class="btn stretched-link">Test drive your package.json, package.lock.json
                        or even yarn.lock file</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}